@font-face{
    font-family: "Street";
    src: url("Font/street.otf");
}

body{
background-image: url(img/fondo2.jpg);
background-size: cover;

}

h1{
    color: crimson;
    font-size: 46px;
    text-align: center;
    font-family: "street";
}

table{
    width: 600px;
    height: 800px;
    border: 10px outset rgb(237, 175, 5); 
    border-radius: 10px;
    background-color: black;
    text-align: center;
    font-family: "street";
    margin: auto;

}

.table_cabecera{ 
    background-image: url("img/fondocabecera.jpg");
    background-size: cover;
    color: whitesmoke;
    font-size: 40px;
    opacity: 0.5;
}
td{
    width: 40px;
    height: 45px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: darkorange;
}

h2{
    font-family: "street";
    color: crimson;
    font-size: 28px;
    text-align: center;
}
.formulario{
    width: 600px;
    height: 1100px;
    border: 10px outset rgb(237, 175, 5);
    border-color: white;
    border-radius: 10px;
    margin: auto;
    font-size: 16px;
    font: "verdana";
}

legend{
    font: "street";
    font-size: 14px;
    color: rgb(237, 175, 5);
}
